---
- name: Yum - add Icinga repository (stable)
  yum_repository:
    file: /etc/yum.repos.d/ICINGA-release
    name: icinga-stable-release
    description: "{{ icinga_repo_yum_stable_description }}"
    baseurl: "{{ icinga_repo_yum_stable_url }}"
    gpgkey: "{{ icinga_repo_yum_stable_key }}"
    gpgcheck: yes
    enabled: "{{ icinga_repo_stable }}"
    username: "{{ icinga_repo_subscription_username | default(omit) }}"
    password: "{{ icinga_repo_subscription_password | default(omit) }}"

- name: Yum - add Icinga repository (testing)
  yum_repository:
    file: /etc/yum.repos.d/ICINGA-testing
    name: icinga-testing-builds
    description: "{{ icinga_repo_yum_testing_description }}"
    baseurl: "{{ icinga_repo_yum_testing_url }}"
    gpgkey: "{{ icinga_repo_yum_testing_key }}"
    gpgcheck: yes
    enabled: "{{ icinga_repo_testing }}"
    username: "{{ icinga_repo_subscription_username | default(omit) }}"
    password: "{{ icinga_repo_subscription_password | default(omit) }}"

- name: Yum - add Icinga repository (snapshot)
  yum_repository:
    file: /etc/yum.repos.d/ICINGA-snapshot
    name: icinga-snapshot-builds
    description: "{{ icinga_repo_yum_snapshot_description }}"
    baseurl: "{{ icinga_repo_yum_snapshot_url }}"
    gpgkey: "{{ icinga_repo_yum_snapshot_key }}"
    gpgcheck: yes
    enabled: "{{ icinga_repo_snapshot }}"
    username: "{{ icinga_repo_subscription_username | default(omit) }}"
    password: "{{ icinga_repo_subscription_password | default(omit) }}"

- name: Yum - add EPEL repository
  yum:
    name: epel-release
    state: present
  when: icinga_repo_epel

- name: Yum - add SCL repositories
  yum:
    name: centos-release-scl
    state: present
  when:
    - icinga_repo_scl
    - ansible_distribution == "CentOS"
    - ansible_distribution_major_version < "8"
