---
- name: Activate epel repository
  ansible.builtin.yum:
    name: epel-release
    state: present
  when: icinga_monitoring_plugins_epel|bool

- name: Yum - install requested packages
  become: yes
  yum:
    state: present
    name: "{{ needed_packages }}"
    update_cache: true
  when:
    - ansible_distribution_major_version < "8"
    - needed_packages is defined
    - needed_packages

- name: Dnf - install requested packages
  become: yes
  dnf:
    state: present
    name: "{{ needed_packages }}"
    update_cache: true
    enablerepo: "{{ 'powertools' if ansible_distribution_major_version == '8' and icinga_monitoring_plugins_crb else 'crb' if ansible_distribution_major_version == '9' and icinga_monitoring_plugins_crb }}"
  when:
    - ansible_distribution_major_version >= "8"
    - needed_packages is defined
    - needed_packages

- name: Yum - remove non-requested packages
  become: yes
  yum:
    state: absent
    name: "{{ (unwanted_packages | difference(['nagios-plugins'])) if icinga_monitoring_plugins_check_commands else unwanted_packages }}"
    autoremove: "{{ icinga_monitoring_plugins_autoremove }}"
  when:
    - icinga_monitoring_plugins_remove
    - unwanted_packages
