- name: Module Director | Ensure config directory
  ansible.builtin.file:
    state: directory
    dest: "{{ icingaweb2_modules_config_dir }}/director"
    owner: "{{ icingaweb2_httpd_user }}"
    group: "{{ icingaweb2_group }}"
    mode: "2770"

- name: Module Director | Manage config files
  ansible.builtin.include_tasks: manage_module_config.yml
  loop: "{{ _files }}"
  loop_control:
    loop_var: _file
  when: vars['icingaweb2_modules'][_module][_file] is defined
  vars:
    _module: "{{ item.key }}"
    _files:
      - kickstart
      - config

- name: Module Director | Check for pending migrations
  ansible.builtin.shell:  # noqa: command-instead-of-shell
    cmd: icingacli director migration pending
  register: _pending
  changed_when: _pending.rc|int == 0
  failed_when: _pending.stdout|length > 0
  when: vars['icingaweb2_modules']['director']['import_schema'] is defined and vars['icingaweb2_modules']['director']['import_schema'] and vars['icingaweb2_modules']['director']['config'] is defined

- name: Module Director | Apply pending migrations
  ansible.builtin.shell:  # noqa: command-instead-of-shell
    cmd: icingacli director migration run
  when: vars['icingaweb2_modules']['director']['import_schema'] is defined and vars['icingaweb2_modules']['director']['import_schema'] and vars['icingaweb2_modules']['director']['config'] is defined and _pending.rc|int == 0

- name: Module Director | Check if kickstart is required
  ansible.builtin.shell:  # noqa: command-instead-of-shell
    cmd: icingacli director kickstart required
  register: _required
  changed_when: _required.rc|int == 0
  failed_when: _required.rc|int >= 2
  when: vars['icingaweb2_modules']['director']['run_kickstart'] is defined and vars['icingaweb2_modules']['director']['run_kickstart'] and vars['icingaweb2_modules']['director']['kickstart'] is defined

- name: Module Director | Check if kickstart is required
  ansible.builtin.shell:  # noqa: command-instead-of-shell
    cmd: icingacli director kickstart run
  when: vars['icingaweb2_modules']['director']['run_kickstart'] is defined and vars['icingaweb2_modules']['director']['run_kickstart'] and vars['icingaweb2_modules']['director']['kickstart'] is defined and _required.rc|int == 0

- name: Module Director | Ensure daemon is running
  ansible.builtin.service:
    name: "{{ icingaweb2_director_service }}"
    state: started
    enabled: yes
