---
- name: Write configuration to /etc/icinga-redis/icinga-redis.conf
  ansible.builtin.template:
    src: icingadb-redis.conf.j2
    dest: "{{ icingadb_redis_config_dir }}/icingadb-redis.conf"
    owner: "{{ icingadb_redis_user }}"
    group: "{{ icingadb_redis_group }}"
    mode: 0640
  notify: Icingadb-redis-restart
