- name: MySQL import IcingaDB schema
  when: icingadb_database_import_schema | default(False)
  block:
    - name: Build mysql command
      ansible.builtin.set_fact:
        __icingadb_cmd: >-
          mysql {% if icingadb_database_host | default('localhost') != 'localhost'  %} -h "{{ icingadb_database_host }}" {%- endif %}
          {% if icingadb_database_port is defined %} -P {{ icingadb_database_port }} {%- endif %}
          {% if icingadb_database_ca is defined %} --ssl-ca "{{ icingadb_database_ca }}" {%- endif %}
          {% if icingadb_database_cert is defined %} --ssl-cert "{{ icingadb_database_cert }}" {%- endif %}
          {% if icingadb_database_key is defined %} --ssl-key "{{ icingadb_database_key }}" {%- endif %}
          -u "{{ icingadb_database_user | default('icingadb') }}"
          -p"{{ icingadb_database_password }}"
          "{{ icingadb_database_name | default('icingadb') }}"

    - name: MySQL check for IcingaDB schema
      ansible.builtin.shell: >
        {{ __icingadb_cmd }}
        -Ns -e "select version from icingadb_schema"
      failed_when: false
      changed_when: false
      check_mode: false
      register: _db_schema

    - name: MySQL import IcingaDB schema
      ansible.builtin.shell: >
        {{ __icingadb_cmd }}
        < {{ icingadb_database_schema }}
      when: _db_schema.rc != 0
      check_mode: false
      run_once: yes
