/**
 * This file defines global constants which can be used in
 * the other configuration files.
 */

{{ lookup('icinga.icinga.icinga2_parser', icinga2_combined_constants| icinga.icinga.prefix('const '), constants=icinga2_combined_constants, reserved=icinga2_reserved, indent=0) }}
