/**
 * This file defines global constants which can be used in
 * the other configuration files.
 */

{{ lookup('netways.icinga.icinga2_parser', __icinga2_combined_constants| netways.icinga.prefix('const '), constants=__icinga2_combined_constants, reserved=__icinga2_reserved, indent=0) }}
