# {{ ansible_managed | comment }}

database:
{% if kubernetes_database_type is defined %}
  type: {{ kubernetes_database_type }}
{% endif %}
  host: {{ kubernetes_database_host | default('localhost') }}
{% if kubernetes_database_port is defined %}
  port: {{ kubernetes_database_port }}
{% endif %}
  database: {{ kubernetes_database_name | default('kubernetes') }}
  user: {{ kubernetes_database_user | default('kubernetes') }}
  password: {{ kubernetes_database_password | default('kubernetes') }}

prometheus:
{% if kubernetes_prometheus_url is defined %}
  url: {{ kubernetes_prometheus_url }}
{% endif %}
