---

- name: features | Collect all files in {{ icinga2_config_path + '/features-enabled' }}
  ansible.builtin.find:
    paths: "{{ icinga2_config_path + '/features-enabled' }}"
    patterns: '*.conf'
    file_type: any
  register: icinga2_collected_features
  when: icinga2_purge_features

- name: features | Collect enabled features
  ansible.builtin.set_fact:
    __icinga2_features_enabled: >-
      {{ __icinga2_features_enabled | default([])
      + [ __icinga2_feature_realname[item.path | basename| splitext | first]
        | default(item.path | basename | splitext | first)
        ] }}
  loop: "{{ icinga2_collected_features.files }}"
  when: icinga2_purge_features

- name: features | Purge features
  ansible.builtin.file:
    state: absent
    path: "{{ '/etc/icinga2/features-enabled/' + __icinga2_feature_realname[item] | default(item) + '.conf' }}"
  loop: "{{ __icinga2_features_enabled | default([]) | difference(icinga2_features | map(attribute='name') | list) }}"
  notify: check-and-reload-icinga2-service
  when: icinga2_purge_features

- name: features | Configure features
  ansible.builtin.include_tasks: "features/{{ item.name }}.yml"
  loop: "{{ icinga2_features }}"
