---
- name: install_on_Suse | Zypper - install package icinga2
  community.general.zypper:
    name: "{{ icinga2_packages + icinga2_packages_dependencies }}"
    state: present

- name: install_on_Suse | Zypper - install package icinga2-selinux
  community.general.zypper:
    name: icinga2-selinux
    state: present
  when: ansible_selinux is defined and ansible_selinux.status == "enabled"
