- name: install_on_RedHat | Yum - install package icinga2
  ansible.builtin.yum:
    name: "{{ icinga2_packages + icinga2_packages_dependencies }}"
    state: present

- name: Yum - install package icinga2-selinux
  ansible.builtin.yum:
    name: icinga2-selinux
    state: present
  when: ansible_selinux is defined and ansible_selinux.status == "enabled"
