---

- name: features | compatlog | CompatLogger object
  netways.icinga.icinga2_object:
    name: compatlog
    type: CompatLogger
    file: features-available/compatlog.conf
    args: "{{ __icinga2_dict_features.compatlog }}"
  register: result

- name: features | compatlog | Enhance local object
  ansible.builtin.set_fact:
    __icinga2_local_objects: "{{ __icinga2_local_objects | default([]) + [result.dest] }}"
