---

- name: features | influxdb | InfluxdbWriter object
  icinga.icinga.icinga2_object:
    name: influxdb
    type: InfluxdbWriter
    file: features-available/influxdb.conf
    args: "{{ __icinga2_dict_features.influxdb }}"
  register: result

- name: features | influxdb | Enhance local object
  ansible.builtin.set_fact:
    __icinga2_local_objects: "{{ __icinga2_local_objects | default([]) + [result.dest] }}"
