### Editing /etc/systemd/system/icinga-kubernetes.service.d/override.conf
### Anything between here and the comment below will become the new contents of the file

[Service]
Environment="KUBECONFIG={{ icinga_kubernetes_kubeconfig_path }}"

### Lines below this comment will be discarded

### /lib/systemd/system/icinga-kubernetes.service
# [Unit]
# Description=Icinga for Kubernetes
# After=syslog.target network-online.target mariadb.service postgresql.service
#
# [Service]
# Type=simple
# ExecStart=/usr/sbin/icinga-kubernetes --config /etc/icinga-kubernetes/config.yml
# User=icinga-kubernetes
#
# [Install]
# WantedBy=multi-user.target