{%- macro picktype(name, obj) -%}
{% if obj.__class__.__name__ == 'list' %}
{% for key in obj %}
{{ name }} {{ key }}
{% endfor %}
{% else %}
{{ name }} {{ obj }}
{% endif %}
{%- endmacro -%}
{{ ansible_managed | comment }}

{% for key in icingadb_redis_order if key in icingadb_redis_config %}
{{ picktype(key, icingadb_redis_config[key]) }}
{%- endfor -%}

{% for key, value in icingadb_redis_config.items() if key not in icingadb_redis_order %}
{{ picktype(key, value) }}
{%- endfor -%}

